
  <!--Servicios-->
<div class="container mt-4">


  <div class="row justify-content-center" style="margin-top: 50px;">
    <h1>Servicios que tenemos para tí</h1>
  </div>

  <div class="row justify-content-center" style="margin-top: 50px;">

    <div class="col-sm col-6">
      <div class="card text-center">
        <a [routerLink]="['/detalle-servicio']">
          <img class="card-img" src="./assets/services-lavado.png" alt="" />
        </a>
        <div class="card-img-top">
          <h5 class="card-title" style="margin-top: 10px;">
            Lavado de prendas con cuero
          </h5>
        </div>
      </div>
    </div>

    <div class="col-sm col-6">
      <div class="card text-center">
        <a [routerLink]="['/detalle-servicio']">
          <img class="card-img" src="./assets/services-alfombras.png" alt="" />
        </a>
        <div class="card-img-top">
          <h5 class="card-title" style="margin-top: 10px;">
            Lavado de alfombras
          </h5>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center" style="margin-top: 50px;">

    <div class="col-sm col-6">
      <div class="card text-center">
        <a [routerLink]="['/detalle-servicio']">
          <img class="card-img" src="./assets/services-cortina.png" alt="" />
        </a>
        <div class="card-img-top">
          <h5 class="card-title" style="margin-top: 10px;">
            Lavado de cortinas
          </h5>
        </div>
      </div>
    </div>

    <div class="col-sm col-6">
      <div class="card text-center">
        <a [routerLink]="['/detalle-servicio']">
          <img class="card-img" src="./assets/services-tinte.png" alt="" />
        </a>
        <div class="card-img-top">
          <h5 class="card-title" style="margin-top: 10px;">
            Teñido industrial
          </h5>
        </div>
      </div>
    </div>


  </div>

</div>
<!--Fin Servicios-->


