<!--Servicios-->
<div class="container mt-4">

  <div class="content-total">
    <div class="servicios-content">
      <div>
        <h1>Servicios que tenemos para tí</h1>
        <hr>
      </div>
      <div class="item-servicios" *ngFor="let s of listService; let i = index;">
        <div class="card shadow text-center">
          <div class="card-header" style="padding: 0px;">
            <a [routerLink]="['/detalle-servicio/'+s.servicesId]">
              <img class="card-img" src="{{URLimage + s.image}}" alt="" />
            </a>
          </div>
          <div class="card-img-top">
            <h5 class="card-title" style="margin-top: 10px;">
              {{ s.title }}
            </h5>
          </div>
        </div>
      </div>


    </div>
    <div class="sidebar-landing">
      <h2>Solicita Seguro</h2>
      
      <ul>
        <li>Seguridad</li>
        <li>Confianza</li>
        <li>Salud</li>
        <li>Comodidad</li>
      </ul>
    </div>
  </div>



</div>

<!--Fin Servicios-->