<div class='container-full'>

    <app-navbar></app-navbar>
    
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="./assets/slide1.jpg"   alt="Delhi Metro">
            <div class="carousel-caption">
                <!-- <h3 style="color: yellow">Slide1</h3>   -->
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/slide2.jpg" alt="Bangalore Metro">
            <div class="carousel-caption">
                <!-- <h3 style="color: yellow">Slide2</h3>   -->
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/slide3.jpg" alt="Channai Metro">
            <div class="carousel-caption">
                <!-- <h3 style="color: yellow">Slide3</h3>   -->
            </div>
        </ng-template>

    </ngb-carousel>


</div>

<div class="main p-4">
    <app-servicios></app-servicios>
</div>

<app-footer></app-footer>