<div class="header-nav">
    <div class="header-logo">
        <img src="assets/logo.png" width="120" alt="">
    </div>
    <div class="header-menu">
        <div>
            <span>Home</span>
        </div>
        <div class="dropdown" style="float:right;">
            <div class="fas">
                <img src="assets/icons/user-nav.svg" width="18" alt="">
            </div>
            <div class="dropdown-content">
              <a >
                <div class="fas">
                    <img src="assets/icons/my-profile.svg" width="12" alt="">
                </div>
                Mi Perfil</a>
              <a  style="cursor: pointer" >
                <div class="fas">
                    <img src="assets/icons/exit.svg" width="12" alt="">
                </div>
                Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>