/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*{
    padding: 0;
    margin: 0;
}
h1{
    color:#2b6ca3
}

.page-header .card-register .title {
    margin-bottom: 10px;
}
.navbar-light{
    transition: 400;
    background-color: transparent!important;
}
.navbar-light.scrolled{
    background-color: #ffffff!important;
    box-shadow: 0px 1px 10px #999;
}

ngb-carousel img {
    width: 100%;
    height: 100vh!important;
    object-fit: cover;
    background-color: #000000!important;
    opacity: .6;
    filter: alpha(opacity=60);
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
    
}

@media (max-width: 600px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        background-color: #ffffff;
        align-items: center;
        border-radius: 20px;
    }
    .navbar-nav .nav-item{
        width: 100%;
        text-align: center;
        box-shadow: 0px 2px 1px #efefef;
    }
    h1{
        color:#2b6ca3;
        font-size: 2em;
    }
    .card-title{
        font-size: 1em;
    }
    .foot{
        font-size: 0.6em;
    }
    
  }

  .foot{
    padding: 2% 0 ;
    background-color: #2b6ca3;
    color: white;
    text-align: center;
  }