<app-navbar></app-navbar>

<!--Imagen de Cabecera-->
<img style="margin-top: 90px; height: 70px; width: 100%; object-fit: cover;" class="img-fluid"
  src="./assets/cabecera.jpg" alt="" />
<!--Fin Imagen de Cabecera-->
<!--Servicio-->
<div class="container detailService">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card text-center">
        <img class="card-img" src="./assets/services-lavado.png" alt="" />
      </div>
    </div>
    <div class="col-6">
      <div class="servicioDetalle">
        <h2>Servicio: {{ services.title }}</h2>
        <p style="text-align: justify;">
          {{ services.description }}
        </p>
      </div>
      <div class="tipoDelivery">
        <h5>Desea Delivery?</h5>
        <select class="form-control input-select">
          <option value="">Tipo delivery</option>
          <option value="Recojo">Recojo</option>
          <option value="Envio">Envío</option>
          <option value="Envio">Recojo y Envío</option>
          <option value="Envio">Ninguno</option>
        </select>
      </div>
      <div class="precioServicio">

        <h4>Precio:</h4>

        <h5>S/ {{ services.price }}</h5>

      </div>
      <div class="sideButtons">
        <button type="button" class="btn btn-solicitud">
          Solicitar servicio
        </button>
      </div>
    </div>
  </div>
</div>
<!--Fin Servicio-->
<div class="servicesContent">
  <app-servicios></app-servicios>
</div>
<app-footer></app-footer>