   
   <app-navbar></app-navbar>

   <!--Imagen de Cabecera-->
    <img
      style="margin-top: 90px; height: 70px; width: 100%; object-fit: cover;"
      class="img-fluid"
      src="./assets/cabecera.jpg"
      alt=""
    />
    <!--Fin Imagen de Cabecera-->
    <!--Servicio-->
    <div class="container" style="margin-bottom: 8%; margin-top: 8%;">
      <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-4">
          <div class="card text-center">
            <img class="card-img" src="./assets/services-lavado.png" alt="" />
          </div>
        </div>
        <div class="col-6">
          <h2>Servicio lorem ipsum</h2>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="row justify-content-end align-items-center">
            <div class="col-5">
              <h5 style="text-align: end;">Precio por servicio:</h5>
            </div>
            <div class="col-2">
              <h3 style="text-align: end;">S/ 14</h3>
            </div>
          </div>
          <div class="row justify-content-end" style="margin-top: 10px;">
            <button
              type="button"
              class="btn"
              style="
                color: white;
                background-color: #2b6ca3;
                align-self: end;
                width: 50%;
              "
            >
              Solicitar delivery
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Servicio-->
    <app-servicios></app-servicios>

    <app-footer></app-footer>